* {
  font-family: monospace;
}
.first-level {
  padding-left: 0px;
  
}
.second-level {
  padding-left: 15px;
}
.third-level {
  padding-left: 30px;
}
.red {
  color: lightcoral
}
.blue {
  color: lightskyblue
}
.green {
  color: lightgreen
}
.purple {
  color: purple
}
.dark-green {
  color: steelblue
}